<div class="container">
    <mat-card *ngIf="assignementTransmis">
        <mat-card-content>
            <mat-card-title>{{assignementTransmis.nom}}</mat-card-title>
            <mat-card-subtitle>{{assignementTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
            <mat-card-subtitle>{{assignementTransmis.subjectName}}<img src="../../assets/{{assignementTransmis.imgSubject }}" alt="{{ assignementTransmis.nom }}" width="64" height="64"></mat-card-subtitle>
            <mat-card-subtitle>{{assignementTransmis.subjectTeacher}}<img src="../../assets/{{assignementTransmis.imgTeacher }}" alt="{{ assignementTransmis.nom }}" width="128" height="128"></mat-card-subtitle>
            <mat-card-subtitle>{{assignementTransmis.note}}</mat-card-subtitle>
            <mat-card-subtitle>{{assignementTransmis.comment}}</mat-card-subtitle>
            <mat-card-actions id="bottom">
                <mat-checkbox *ngIf="!assignementTransmis.rendu" (click)="onAssignmentRendu()"
                    [disabled]="!isAdmin()">Devoir
                    rendu</mat-checkbox>
                <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">Edit</button>
                <button mat-flat-button color="accent" (click)="openConfirmationDialog()" [disabled]="!isAdmin()">Supprimer le devoir</button>

            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
