<div class="container">
    <mat-card *ngIf="assignementTransmis">
        <mat-card-content>
            <mat-card-title>{{assignementTransmis.nom}}</mat-card-title>
            <mat-card-subtitle style="display: flex; justify-content: center;">
                <img src="../../assets/{{ assignementTransmis.imgSubject }}" alt="{{ assignementTransmis.nom }}"
                    width="64" height="64">
            </mat-card-subtitle>
            <mat-card-subtitle>Date de rendu : </mat-card-subtitle><p>{{assignementTransmis.dateDeRendu | date:
                'dd/MM/yyyy'}}</p>
            <mat-card-subtitle>Nom de la matière : </mat-card-subtitle>
            <p>{{assignementTransmis.subjectName}}</p>
            <div class="center">
                <mat-card-subtitle><img src="../../assets/{{assignementTransmis.imgTeacher }}"
                        alt="{{ assignementTransmis.nom }}" width="140" height="150"></mat-card-subtitle>
                <p>{{assignementTransmis.subjectTeacher}}</p>
            </div>
            <mat-card-subtitle>Note : </mat-card-subtitle>
            <p>{{assignementTransmis.note}}</p>
            <mat-card-subtitle>Commentaire : </mat-card-subtitle>
            <p>{{assignementTransmis.comment}}</p>
            <mat-card-actions id="bottom">
                <mat-checkbox *ngIf="!assignementTransmis.rendu" (click)="onAssignmentRendu()">Devoir
                    rendu</mat-checkbox>
                <button mat-stroked-button color="primary" (click)="onClickEdit()">Modifier</button>
                <button mat-flat-button color="accent" (click)="openConfirmationDialog()"
                    [disabled]="!isAdmin()">Supprimer le devoir</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>