<main class="container">
  <table mat-table [dataSource]="assignments" matSort matSortActive="nom" matSortDirection="asc">

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom du Devoir</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="subjectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Matière</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.subjectName }}</td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom de l'Étudiant</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.studentName }}</td>
    </ng-container>

    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de Rendu</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.dateDeRendu | date }}</td>
    </ng-container>

    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rendu</th>
      <td mat-cell *matCellDef="let assignment">
        <p appRendu *ngIf="assignment.rendu; else nonsoumis">
          Rendu
        </p>
        <ng-template #nonsoumis>
          Non rendu
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['nom','subjectName','studentName','dateDeRendu','rendu']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nom','subjectName','studentName','dateDeRendu','rendu']"
      [routerLink]="['/assignment', row.id]">
    </tr>
  </table>

  <mat-paginator [length]="totalDocs" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons
    (page)="onLimitResult($event)" (page)="onPageChange($event)"></mat-paginator>

  <button (click)="peuplerBD()">Add Assignments in database</button>
</main>