<main class="container">
  <mat-list *ngFor="let assignment of assignments">
    <nav><a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item (click)="assignmentClique(assignment)">
          <p appRendu *ngIf="assignment.rendu; else nonsoumis">
            Devoir intitulé {{assignment.nom}} a été rendu.
          </p>
          <ng-template #nonsoumis>
            Le devoir {{assignment.nom}} n'a pas été rendu.
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a></nav>
  </mat-list>
  <button (click)="peuplerBD()">Add Assignments in database</button>
  <button (click)="firstPage()">First Page</button>
  <button (click)="lastPage()">Last Page</button>
  <button (click)="nextPageClick()" [disabled]="!isLastPage()" >Suivant</button>
  <button (click)="prevPageClick()" [disabled]="!isFirstPage()">Retour</button>
</main>