<h1>
  <nav>{{title}}</nav>
</h1>
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened" style="background-color: white;"><mat-icon>menu</mat-icon></button>
    <span class="login"></span>
    <a routerLink="/home"><button mat-button
        style="background-color: white; margin-right: 10px"><mat-icon>home</mat-icon></button></a>
    <a routerLink="/login"><button mat-button style="background-color: white;"
        *ngIf="!authService.user.role"><mat-icon>account_circle</mat-icon></button></a>
    <a routerLink="/home"><button mat-button style="background-color: white;" *ngIf="authService.user.role"
        (click)="logout()"><mat-icon>reply</mat-icon></button></a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <a routerLink="/home"><mat-list-item>Liste des devoirs</mat-list-item></a>
      <a routerLink="/add"><mat-list-item>Ajout d'un devoir</mat-list-item></a>
      <mat-list-item>Modification d'un devoir</mat-list-item>
      <mat-list-item>Suppression d'un devoir</mat-list-item>
      <mat-list-item>Génération de données de test</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>