<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css">
</head>

<body>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <button style="color:white" mat-button [disabled]="isButtonDisable" [class.disabled-background]="isButtonDisable"
        (click)="peuplerBD()">Add Assignments in database
        <mat-icon>autorenew</mat-icon>
      </button>
      <div *ngIf="!getIsLoading()" class="loading-spinner">
        <mat-spinner style="width: 40px; margin-left: 10px;"></mat-spinner>
      </div>
      <div *ngIf="isButtonDisable" class="loading-spinner">
        <mat-spinner style="width: 40px; margin-left: 10px;"></mat-spinner>
      </div>
      <mat-toolbar class="center-toolbar">
        <div *ngIf="getUsername()" class="centered-text">
          <p>Bienvenue {{getUsername()}}</p>
        </div>
      </mat-toolbar>
      <span class="login"></span>
      <a routerLink="/home">
        <button style="color: white" mat-button> Page d'accueil
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <a routerLink="/login" *ngIf="!authService.isAdmin()">
        <button style="color: white" mat-button> Connexion
          <mat-icon>account_circle</mat-icon>
        </button>
      </a>
      <a routerLink="/home" *ngIf="authService.isAdmin()" (click)="logout()">
        <button style="color:white" mat-button>Déconnexion
          <mat-icon>logout</mat-icon>
        </button>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-nav-list>
        <a routerLink="/home"><mat-list-item>Liste des devoirs</mat-list-item></a>
        <a routerLink="/add"><mat-list-item>Ajout d'un devoir</mat-list-item></a>
        <mat-list-item>Modification d'un devoir</mat-list-item>
        <mat-list-item>Suppression d'un devoir</mat-list-item>
        <mat-list-item>Génération de données de test</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</body>