mat-toolbar {
    background-color: #3B3B39;
}

mat-icon {
    color: aliceblue;
}

.login {
    flex: 1;
}

mat-sidenav {
    background: rgb(243, 243, 241);
}

mat-list-item:hover {
    background-color: #c7c7c7;
}

button:hover {
    background-color: #717171;
}