mat-toolbar {
    background-color: #3B3B39;
    display: block;
}

mat-icon {
    color: aliceblue;
}

.login {
    flex: 1;
}

mat-sidenav {
    background: rgb(243, 243, 241);
}


mat-sidenav-container {
    height: calc(205vh - 115vh);
}


.mat-toolbar-row button {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.mat-toolbar-row button:hover {
    background-color: #717171;
    transform: scale(1.1);
}

.disabled-background {
    background-color: rgb(186, 186, 186);
}

mat-toolbar-row {
    position: relative;
}

.centered-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 23px;
    animation: sparkle 2s linear infinite;
}

@keyframes sparkle {
    0% {
        text-shadow: 0 0 5px white;
    }

    50% {
        text-shadow: 0 0 10px rgb(120, 38, 38);
    }

    100% {
        text-shadow: 0 0 5px white;
    }
}

mat-icon.color {
    color: #3B3B39;
}
.mat-nav-list a {
  display: flex;
  align-items: center;
  text-decoration: none; 
}

mat-list-item {
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;

}

mat-list-item:hover {
    color: aliceblue;
    transform: scale(1.1); 
    background-color: #b8b8b8; 
    size: 20px;
  }

.color {
    margin-right: 8px;
    vertical-align: middle; 
  }