*,
*:before,
*:after {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../../../assets/lucioles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    width: 500px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    padding: 10px;
}

label{
    font-size: 16px;
}

.container input[type="text"],
.container input[type="password"] {
    margin-left: auto;
    background-color: white;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

.container input[type="radio"] {
    margin-right: 5px;
}

.container button[type="submit"] {
    padding: 10px;
    background-color: #217B8A;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.container button[type="submit"]:hover {
    background-color: rgb(48, 48, 133);
}