*,
*:before,
*:after {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../../../assets/lucioles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.container form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    width: 500px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    padding: 10px;
}

label{
    font-size: 16px;
}

.container input[type="text"],
.container input[type="password"] {
    border-radius: 50px;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.container input:hover{
    border:2px solid aliceblue;
    border-radius: 10px;
    
}

#containerCheckbox{
     display: flex;
     size: 30px;
    
}


.container button[type="submit"] {
    border: none;
    margin-top: 50px;
    width: 100%;
    background-color: #217B8A;
    color: aliceblue;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.container button:hover {
    background-color: rgb(64, 64, 224);
}
